# Rider
.idea/

# Visual Studio
.vs/
*.aps

# Common Artifacts
**/bin/
**/obj/

*.pdb
*.exp
*.tlog
*.iobj
*.ipdb
*.log
*.obj
build/weightDriver/x64/Release/weightDriver.tlog
*.iobj
*.ipdb
*.log
*.obj
